h1,h2 {
    color: wheat;
    font-family: 'Macondo', cursive;
    border-radius: 25px;
    font-size: 30px;
    background-color: rgb(31, 41, 14);
}

#game{
    box-shadow: 10px 10px 15px black;
}

body{
    /* display: flex; */
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0deg, rgb(200, 148, 52), rgb(196, 174, 133));
    background-image: url(images/darkBG.jpg);
}

#enterMaze{
    width: 30%;
    border-radius: 25%;
}

#playAgain{
    color: wheat;
    font-family: 'Macondo', cursive;
    border-radius: 25px;
    font-size: 30px;
    background-color: rgb(31, 41, 14);
    display: none;
}
